*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #cacfd2;
}

.logo{
    font-size: 25px;
     
    background-color: #cacfd2 ;
    color: white;
}
.logo div{
    justify-content: left;
}

.barra {
    
    font-size: 15px;
    background-color: blue;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0; 
}

.barra ul {
    margin-bottom: 0; 
    padding-bottom: 0; 
}

.barra ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-bottom: 0; 
    padding-bottom: 0; 
    flex-wrap: nowrap;
}

.img-contenedor{
    overflow: hidden;
     
}

.img-contenedor img{
    transition: all 2s;
    background-size: cover;
}
@media only screen and (min-width: 321px){
    .galeria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
     }
}
@media only screen and (max-width:600px){
.galeria{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,200px);
}    

}

.acercar:hover img{
    transform: scale(1,5);
}

footer{
    text-align: center;
    background-color:grey;
    color: black;
    padding: 45px;
}

footer a{
    color: black;
    text-decoration: none;
    font-size:20px ;
    text-align: end;
    padding: 10px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linksContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}